@charset "UTF-8";
/* CSS Document */
body {	
    margin: 0; 
    font-family: "warbler-text";
}

header {
    text-align: center;
    font-size: 50px;
    height: 100px;
    width: 100vw;
    float: left;
    background-color: black;
    color: white;
}

nav {
    float: left;
    text-align: center;
    width: 100vw;
    height: 50px;
    background-color: grey;
    position: sticky;
    z-index: 10;
    top: 0;
}

    nav a {
        margin: 10px;
        line-height: 50px;
    }

    a {
        text-decoration: none;
        color: black;
    }

main {
    width: 90vw;
    padding: 5vw;
}

img {
    width: 90vw;
}

.block {
   float: left;
    margin: 1px;
    width: 44vw;
    height: 44vw; 
    overflow: hidden;
    line-height: 44vw;
    text-align: center;
}

    .block img {
        width: 100%;
    }

    .block img:hover {
filter: blur(1.5px) grayscale(50%);
    }

    .cultural::before {
        content: "hello";
        width: 100%;
        height: 100%;
        position: absolute;
    }

.about {
    float: left;
    width: 50vw;
}

.us {

    width: 33vw;
    float: left;
    margin: 20px;
    margin-top: 90px;
}

h4 {
    text-align: center;
}

li {
    list-style:none;
}

    .director {
        text-align: center;
    }

    .principles{
        float: left;
        width: 44vw;
        text-align: center;
    }

    .associatePrinciples{
        float: left;
        width: 44vw;
        text-align: center;
    }

    .seniorAssociate{
        text-align: center;
        float: left;
        width: 44vw;
    }

    .associate{
        text-align: center;
        float: left;
        width: 44vw;
    }

    .staff_1{
        float: left;
        width: 44vw;
        text-align: center;
    }

    .staff_2{
        float: left;
        width: 44vw;
        text-align: center;
    }


footer { 
    float: left;
    width: 90vw;
    height: 250px;
    background-color: black;
    padding: 5vw;
    color: white;
    font-size: 12px;
}

footer a {
    color: white;
}